test_webservice3/src/main/webapp/WEB-INF/say.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://spring-ws/service/liul">
    <xs:element name="say">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sayRequest" type="xs:string"/>
                <xs:element name="sayResponse" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema> 